#image {
    height: 150px;
}

ul {
    display: flex;
    flex-direction: column;
}

ul li {
    cursor: pointer;
    margin: 1em;
    padding: 1em;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    border-radius: 1em;
}